* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: green;
    font-family: 'Inconsolata', monospace;
}

footer {
    text-align: center;
    color: antiquewhite;
    height: 40px;
    padding-top: 25px;
}
