$firebrick: #b22222;
$mainWhite: #fff;
$darkOliveGreen4: #6e8b3d;

// for media queries
$min-320: '(min-width: 320px)';
$min-675: '(min-width: 675px)';
$min-800: '(min-width: 800px)';
$min-960: '(min-width: 960px)';
