.site-footer {
    div.footer-social {
        li {
            a {
                padding-top: 24px;
                margin-left: 12px;
                margin-right: 12px;
                img {
                    width: 35px;
                }
            }
        }
    }
}
